*{
    padding:0%;
    margin:0%;
}

.main{
   width:100%;
}

.container{
    position:absolute;
    top:0px;
    right:0px;
    font-family: Futura;
    float:right;
}

.container li{
    float:left;
    margin-left:40px;
    list-style:none;
    font-size: 30px;
}

.container a{
    color:#ffffff;
    text-decoration: none;
}

.container a:hover{
    color:#3D5CDB;
    box-shadow: none;
}
/*なんで画像の上に<h1>が表示されないのか
margin:0 auto;が効かずにtopとかで指定しないといけないのか*/
.top-first{
    position:relative;
    width:100%;
}

<style>
html, body {
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}

.bg-switcher {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-title {
    color: black;
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-family: "Futura";
}
</style>

.top-first p{
   position:absolute;
   top:0%;
   left:50%;
   color:blue;
   font-size:80px;
   /*+-ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);*/
}


.logo img{
    position:absolute;
    top:300px;
    left:200px;
}

.logo{
    positon:relative;
}

.logo p{
    position:absolute;
    font-size: 50px;
    top:600px;
    left:450px;
    font-family:Futura ;
    color:#ffffff;
    font-style: normal;
    font-weight: 500;
    
}
/*secondのところにtextalign:center;をかけるとなんかしたのcoursesとかもおかしくなるのはなんでだ？*/
.second{
    width:100%;
    background-color:#ffffff;
}
/*親要素であるsecondのボックスの横幅を指定しないとh1を真ん中に指定することはできない*/

/*h1を真ん中に配置したかったら、自分にのボックスをmargin:0 auto
にしないといけない,text-align:center;を親要素に指定しないといけない理由*/

#introduction{
    text-align: center;
    background-color:#ffffff;
    margin:50px;
    
}

#title h1{
    font-family:Futura;
    color:#3D5CDB;
    font-size:50px;
}

#contents{
    width:100%;
    margin-top:40px;
    background-color:#ffffff;
    overflow: hidden;
}

#title-second{
    background-color:#ffffff;
    margin:50px;
    text-align: center;
}

#title-second h1{
    font-family: Futura;
    color:#3D5CDB;
    font-size:50px;
}

/*なんで親要素にtext-align:centerをかけたり、margin:0 autoをかけないといけないのか*/
/*introductionのところ*/

.left-box{
    width:40%;
    float:left;
    background-color: #ffffff;
    text-align: center;
    margin-left:10%;
}


.right-box{
    width:40%;
    height:25%;
    float:left;
    background-color: #ffffff;
   
}

.text{
    width:60%;
    height:90%;
    margin-left:20%;
    background-color: #ffffff;
    display: inline-block;
}

.box-box{
    margin-bottom:20px;
    
}



.seventh-buttan{
 padding-top:5px;
  border: 1px solid #fed700;
  border-radius: 5px;
  background-color: #fed700;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
  display:inline-block;
  margin:20px;
}

.left-second-box{
    width:40%;
    height:25%;
    float:left;
    background-color:#ffffff;
    margin-left:10%;
}

.right-second-box{
    width:40%;
    float:left;
    background-color: #ffffff;
    text-align: center;
    
}

.right-second-box img{
    margin-top: 25px;
}


.one-buttan{
  margin-top:30px;
  margin-left:25%;
  border: 1px solid #3D5CDB;
  border-radius: 12px;
  background-color:#3D5CDB;
  padding: 10px;
  text-align: center;
  width: 150px;
  display: inline-block;
  text-decoration: none;
  border-radius:15px;
    color:white;
}

a:hover{
    box-shadow: 0 0 8px gray;
}

.second-buttan{
  margin-top:40px;
  margin-left:25%;
  border: 1px solid #FFBF00;
  border-radius: 12px;
  background-color:#FFBF00;
  padding: 10px;
  text-align: center;
  width: 150px;
  display: inline-block;
  text-decoration: none;
  border-radius:15px;
    color:white;
}

#courses{
  background-color:#BAD5F5;
}

.title-second{
    background-color:#BAD5F5;
}

.title-second h1{
    font-family: Futura;
    color: #3D5CDB;
    font-size: 50px;
    text-align: center;
}

/*ここからなり*/


.course-box{
    position:relative;
    margin:0 auto;
    width:100%;
    background-color:darkred;
}


.card-box{
    width:70%;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform : translate(-50%,0);
    transform : translate(-50%,0);
    background-color: aqua;
}

.one-box{
    width:220px;
    height:350px;
    margin: 0 auto;
    background-color:teal;
    float:left;
    margin-right:20px;
    border-radius:15px;
    text-align: center;
}

.course-card img{
   text-align: center;
    margin-top:15px;
    
}

.one-box h4{
  margin-top:40px;
    margin-bottom: 20px;
}

.course-card-img{
    text-align: center;
    margin-top:10px;
}

#third-buttan{
  border: 1px solid #fe7535;
  border-radius: 5px;
  background-color: #fe7535;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
  padding:10px;
}

#fourth-buttan{
  border: 1px solid #29a9df;
  border-radius: 5px;
  background-color: #29a9df;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
  padding:10px
}

.course-second-card img{
    text-align: center;
    margin-top:70px;
}

#fifth-buttan{
  padding:10px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: #333333;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
}

#sixth-buttan{
padding:10px;
  border: 1px solid #ff5252;
  border-radius: 5px;
  background-color: #ff5252;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
}

#seventh-buttan{
  padding:10px;
  border: 1px solid #fed700;
  border-radius: 5px;
  background-color: #fed700;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
}

#eighth-buttan{
  padding:10px;
  border: 1px solid #fe7535;
  border-radius: 5px;
  background-color: #fe7535;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
}

#nineth-buttan{
  padding:10px;
  border: 1px solid #72cedd;
  border-radius: 5px;
  background-color: #72cedd;
  color:white;
  width: 180px;
  text-decoration: none;
  border-radius:15px;
  height:35px;
}

#image{
width:100%;
height:600px;
}

.images{
    background-color:#ffffff;
    margin:50px;
    text-align: center;
}

.images h1{
    font-family:Futura;
    color:#3D5CDB;
    font-size:50px;
}

/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
     left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #000;
}
/*スライド画像の横幅可変*/
img {
    max-width: 100%;
     height: auto;
}

.access{
    text-align: center;
}

#access{
 background-color:#ffffff;
    margin:50px;
}

#access h1{
    font-family:Futura;
    color:#3D5CDB;
    font-size:50px;
}

.access iframe{
    display: inline-block;
}

.last{
    width:100%;
    height:100px;
}

#footer p{
    font-family: Futura;
    color:#3D5CDB;
    margin-top:60px;
}

#footer{
    text-align: center;
}
